# Dependency directories
node_modules/

# OS metadata files
.DS_Store
Thumbs.db

# Environment variables
.env
*.local

# Python cache (if any)
__pycache__/
*.pyc

# Temporary files
*.log
update_data.py

doccument/